li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: end;
}

li a {
  font-size: 18px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 100px;
  background-color: transparent;
  transition: all 300ms ease;
}

li a:hover {
  background-color: var(--secondary-highlight-color);
}
