li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: end;
}

li a {
  font-size: 18px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 100px;
  background-color: transparent;
  transition: all 300ms ease;
}

@media (hover: hover) {
  li a:hover {
    background-color: var(--secondary-highlight-color);
  }
}

@media (max-width: 420px) {
  li a {
    font-size: 16px;
    padding: 12px 18px;
  }
}
