<article>
  @if(isFeatured) {
  <img src="/img/stickers/featured_sticker.png" alt="" class="featured-sticker" />
  }
  <div class="img-container">
    <img [src]="cardImg" alt="{{ name }} project mockup" [class.floating-animation]="isFeatured" />
    <div class="overlay"></div>
    <app-button
      buttonText="Project details"
      [variant]="isDarkBackground ? 'light' : 'dark'"
      [routerLink]="['/projects', id]"
    ></app-button>
  </div>
  <h3>{{ name }}</h3>
  <p>{{ cardDescription }}</p>
</article>
