<article>
  <div class="img-container">
    @if(isFeatured) {
    <img src="/img/stickers/featured_sticker.png" alt="" class="featured-sticker" />
    }
    <img [src]="cardImg" alt="{{ name }} project mockup" [class.floating-animation]="isFeatured" />
    <div class="overlay"></div>
    @if(isDesktopLayout) {
    <app-button
      [buttonText]="cta"
      [variant]="isDarkBackground ? 'light' : 'dark'"
      [routerLink]="['/projects', id]"
    ></app-button>
    }
  </div>
  <div class="content">
    <h3>{{ name }}</h3>
    <p>{{ cardDescription }}</p>
  </div>

  @if(!isDesktopLayout) {
  <app-button
    [buttonText]="cta"
    [variant]="isDarkBackground ? 'light' : 'dark'"
    [routerLink]="['/projects', id]"
  ></app-button>
  }
</article>
