article {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex-grow: 1;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-block: 16px;
}

p {
  font-size: 18px;
  font-weight: 400;
}

.img-container {
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.img-container:hover app-button {
  opacity: 1;
  visibility: visible;
}

.img-container:hover img {
  transform: scale(1.1);
}

.img-container:hover .overlay {
  opacity: 1;
}

img {
  width: 100%;
  transform: scale(1);
  transition: transform 200ms ease-in-out;
  z-index: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  transition: opacity 200ms ease;
  z-index: 2;
}

.featured-sticker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 140px;
  height: 140px;
  z-index: 999;
}

.floating-animation {
  animation: floating 4s cubic-bezier(0.33, 0, 0.2, 1) infinite;
  animation-play-state: running;
}

.img-container:hover .floating-animation {
  animation-play-state: paused;
}

@keyframes floating {
  0% {
    transform: translateY(-12px);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(-12px);
  }
}

@media (hover: hover) {
  app-button {
    position: absolute;
    bottom: 36px;
    right: 36px;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-in-out;
    z-index: 3;
  }
}

@media (hover: none) {
  app-button {
    position: relative;
    display: flex;
    justify-content: end;
    padding-block: 16px;
  }
}

@media (max-width: 812px) {
  article {
    display: block;
  }
}

@media (max-width: 740px) {
  p {
    font-size: 16px;
  }

  h3 {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .featured-sticker {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 480px) {
  .featured-sticker {
    bottom: 0;
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 358px) {
  .featured-sticker {
    width: 80px;
    height: 80px;
  }
}
