<nav>
  <ul>
    <li [class.header-split]="isProjectPage">
      <a [routerLink]="'/'" fragment="about">{{ 'navigation.about' | translate }}</a>
      <img src="/img/ui-elements/circle.png" alt="" class="reveal-small-circle" />
    </li>
    <li [class.header-split]="isProjectPage" class="text-shadow">
      <a [routerLink]="'/'" fragment="skills">{{ 'navigation.skills' | translate }}</a>
      <img src="/img/ui-elements/underline_1.png" alt="" class="reveal-line" />
    </li>
    <li [class.header-split-right]="isProjectPage">
      <a [routerLink]="'/'" fragment="projects">{{ 'navigation.projects' | translate }}</a>
      <img src="/img/ui-elements/underline_3.png" alt="" class="reveal-line" />
    </li>
    <li [class.header-split-right]="isProjectPage">
      <a [routerLink]="'/'" fragment="contact">{{ 'navigation.contact' | translate }}</a>
      <img src="/img/ui-elements/underline_2.png" alt="" class="reveal-line" />
    </li>
  </ul>
</nav>
