.btn {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 10px 24px;
  min-width: 156px;
  border-radius: 100px;
  background-color: transparent;
  transform: translate(0, 0);
  transition: transform 200ms ease, background-color 200ms ease, box-shadow 200ms ease;
  cursor: pointer;
}

.btn-light {
  color: var(--base-light-color);
  border: 1px solid var(--base-light-color);
  box-shadow: 2px 4px var(--base-light-color);
}
.btn-dark {
  color: var(--base-dark-color);
  border: 1px solid var(--base-dark-color);
  box-shadow: 2px 4px var(--base-dark-color);
}

.btn:hover {
  background-color: var(--secondary-highlight-color);
  color: var(--base-light-color);
  transform: translate(2px, 4px);
  box-shadow: none;
}

button:disabled {
  color: var(--disabled-color);
  border: 1px solid var(--disabled-color);
  box-shadow: 2px 4px var(--disabled-color);
  pointer-events: none;
  user-select: none;
}

a {
  display: inline-block;
}

@media (max-width: 400px) {
  .btn {
    min-width: 100px;
    padding: 10px 18px;
    font-size: 16px;
  }
}
