section {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-image: image-set(
    url('/img/backgrounds/skills_bg.webp'),
    url('/img/backgrounds/skills_bg.png')
  );
  background-position: bottom bottom;
  padding-bottom: 72px;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--base-light-color);
}

.content {
  margin: 80px auto;
  padding: 0 72px;
  max-width: var(--content-max-width);
}

.skill-text-container {
  position: relative;
  display: grid;
  align-items: end;
  gap: 32px;
  justify-items: end;
  align-items: start;
}

.description-wrapper {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  color: var(--base-dark-color);
}

.description-wrapper p {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  text-wrap: pretty;
}

.title-wrapper {
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.title-wrapper span {
  font-size: 20px;
  font-weight: 500;
  text-align: end;
}

.title-wrapper h2 {
  z-index: 1;
}

.skillset-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.skill-icons-wrapper {
  max-width: 640px;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 32px;
}

.peel-sticker-wrapper {
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 200px;
  rotate: 10deg;
}

.peel-sticker {
  width: 100%;
  height: 100%;
  transition: transform 50ms ease;
}

.peel-sticker-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.peel-sticker-top {
  top: 32px;
  left: 36px;
}

.peel-sticker-top img {
  width: 57px;
  height: 47px;
}

.peel-sticker.peeling {
  transform: scale(1.05);
}

.peel-sticker-top {
  font-family: 'Kalam', sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
}
.peel-sticker-bottom {
  display: flex;
  gap: 12px;
  top: 24px;
  left: 24px;
  padding: 16px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--base-dark-color);
}

.sticker-icon-wrapper img {
  width: 56px;
  height: 56px;
}

.sticker-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 1024px) {
  section {
    background-position: bottom center;
  }

  .skill-text-container {
    grid-template-columns: auto 1fr;
    justify-items: start;
    gap: 48px;
  }
}

@media (max-width: 724px) {
  .description-wrapper {
    font-size: 16px;
  }
}

@media (max-width: 670px) {
  .description-wrapper p {
    padding: 16px;
  }

  .skill-text-container {
    justify-items: center;
  }
}

@media (max-width: 560px) {
  .content {
    padding: 0 32px;
  }
}

@media (max-width: 410px) {
  .content {
    padding: 0 20px;
  }
  .description-wrapper {
    font-size: 14px;
  }
}
