section {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: image-set(
    url('/img/backgrounds/skills_bg.webp'),
    url('/img/backgrounds/skills_bg.png')
  );
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--base-light-color);
}

.content {
  margin: 80px auto;
  padding: 0 72px;
  max-width: var(--content-max-width);
}

.skill-text-container {
  display: grid;
  grid-template-columns: 240px auto 1fr;
  gap: 48px;
}

.description-wrapper {
  position: relative;
  max-width: 800px;
  background-image: image-set(
    url('/img/backgrounds/skills_desc_bg.webp'),
    url('/img/backgrounds/skills_desc_bg.png')
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.description-wrapper p {
  color: var(--base-dark-color);
  font-size: 18px;
  font-weight: 400;
  padding: 60px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.title-wrapper span {
  font-size: 20px;
  font-weight: 500;
  text-align: end;
}

.title-wrapper h2 {
  font-size: 64px;
  font-weight: 700;
}

.skillset-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.skill-icons-wrapper {
  max-width: 640px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

.peel-sticker {
  width: 200px;
  height: 200px;
  rotate: 10deg;
}
