.skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 12px;
}

.skill-icon img {
  width: 64px;
  height: 64px;
  filter: grayscale(100%);
  transition: filter 200ms ease, transform 200ms ease;
}

.skill-icon img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}
