.skill-icon {
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skill-icon img {
  width: 64px;
  height: 64px;
}

@media (hover: hover) {
  .skill-icon img {
    filter: grayscale(100%);
    transition: filter 200ms ease, transform 200ms ease;
  }

  .skill-icon img:hover {
    filter: grayscale(0%);
    transform: scale(1.2);
  }
}
