.form-container {
  max-width: 480px;
}

form {
  width: 100%;
  display: grid;
}

label {
  font-size: 24px;
  font-weight: 500;
  padding: 16px 16px 0 16px;
}

textarea {
  resize: none;
}

input::placeholder,
textarea::placeholder {
  font-size: 18px;
  font-weight: 400;
}

input,
textarea {
  border: transparent;
  background-color: transparent;
  outline: none;
  padding: 16px 16px 0 16px;
  color: var(--base-light-color);
}

.field {
  display: flex;
  flex-direction: column;
  border-top: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--secondary-highlight-color);
}

.field:hover {
  border-top: 1px solid var(--primary-highlight-color);
  border-bottom: 1px solid var(--primary-highlight-color);
}

.field:focus-within {
  border-top: 1px solid var(--base-light-color);
  border-bottom: 1px solid var(--base-light-color);
}

.field:focus-within label,
.field:hover label {
  color: var(--primary-highlight-color);
}

.no-bottom-border {
  border-bottom-color: transparent;
}

app-button {
  justify-self: end;
}

.checkbox-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-top: 40px;
}

input[type='checkbox'] {
  position: absolute;
  appearance: none;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.checkbox-label {
  position: relative;
  flex-shrink: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  border: 2px solid var(--secondary-highlight-color);
  border-radius: 3px;
}

.checkbox-label img {
  pointer-events: none;
  position: absolute;
  top: -2px;
  left: 2px;
  width: 18px;
  opacity: 0;
  transition: opacity 0.2s;
}

.checkbox-label input:checked + img {
  opacity: 1;
}

.checkbox-label:hover {
  background-color: rgb(151, 71, 255, 0.2);
}

.checkbox-label input:focus-visible {
  outline: 1px solid var(--base-light-color);
  outline-offset: 0;
}

.input-feedback {
  display: block;
  height: 32px;
  padding: 8px;
}

.invalid-message {
  color: var(--error-color);
  font-size: 14px;
  font-weight: 400;
  padding-left: 8px;
}

.success-message-wrapper {
  height: 32px;
  margin-top: 16px;
}

.success-message {
  color: var(--primary-highlight-color);
  font-size: 14px;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.success-message.active {
  opacity: 1;
}

a {
  color: var(--secondary-highlight-color);
}

a:hover {
  color: var(--primary-highlight-color);
}
