.form-container {
  max-width: 480px;
}

form {
  width: 100%;
  display: grid;
}

label {
  font-size: 24px;
  font-weight: 500;
  padding: 16px 16px 0 16px;
  padding-inline: 16px;
}

textarea {
  resize: none;
}

input::placeholder,
textarea::placeholder {
  font-size: 18px;
  font-weight: 400;
}

input,
textarea {
  border: transparent;
  background-color: transparent;
  color: var(--base-light-color);
}

input,
textarea {
  padding: 16px;
  outline: none;
}

.field {
  display: flex;
  flex-direction: column;
  border-top: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--secondary-highlight-color);
}

.field:hover {
  border-top: 1px solid var(--primary-highlight-color);
  border-bottom: 1px solid var(--primary-highlight-color);
}

.field:focus-within {
  border-top: 1px solid var(--base-light-color);
  border-bottom: 1px solid var(--base-light-color);
}

.field:focus-within label,
.field:hover label {
  color: var(--primary-highlight-color);
}

app-button {
  justify-self: end;
}

input[type='checkbox'] {
  /* appearance: none; */
  width: 24px;
  height: 24px;
  border: transparent;
  cursor: pointer;
}

.checkbox-container {
  display: flex;
  padding-top: 40px;
  padding-bottom: 32px;
}
