.reveal-line {
  width: 260px;
  height: 24px;
  mask-image: linear-gradient(to right, black 100%, transparent 100%);
  mask-size: 0% 100%;
  mask-repeat: no-repeat;
  animation: reveal 5s infinite ease-in-out;
}

@keyframes reveal {
  0% {
    mask-size: 0% 100%;
  }
  10% {
    mask-size: 100% 100%;
  }
  20% {
    mask-size: 100% 100%;
  }
  70% {
    mask-size: 100% 100%;
  }
  80% {
    mask-size: 0% 100%;
  }
  100% {
    mask-size: 0% 100%;
  }
}
