header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 4.5rem;

  color: var(--base-light-color);
}

nav {
  width: 70%;
  font-size: 18px;
  font-weight: 700;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

li {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.reveal-line {
  position: absolute;
  width: 120px;
  mask-image: linear-gradient(to right, black 100%, transparent 100%);
  mask-size: 0% 100%;
  mask-repeat: no-repeat;
  transition: mask-size 250ms ease;
  pointer-events: none;
}

#skills .reveal-line,
#contact .reveal-line {
  top: -8px;
}

#projects .reveal-line {
  top: 8px;
}

li a:hover ~ .reveal-line {
  mask-size: 100% 100%;
}

.reveal-circle {
  position: absolute;
  top: -16px;
  width: 120px;
  height: auto;
  pointer-events: none;

  mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
  mask-size: 200% 200%;
  mask-position: 0% 200%;

  mask-repeat: no-repeat;
  transition: mask-position 250ms ease;
}

li a:hover ~ .reveal-circle {
  mask-position: 0% 100%;
}

.language-toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 600;
}

.language:hover {
  cursor: pointer;
}

.reveal-box {
  position: absolute;
  top: -8px;
  width: 36px;
  height: 36px;
  pointer-events: none;
  mask-size: 0% 0%;
  mask-repeat: no-repeat;
  transition: mask-size 250ms ease;
}

.reveal-box-left {
  left: -8px;
  mask-image: radial-gradient(circle at top left, black 0%, black 30%, transparent 31%);
  mask-position: 0% 0%;
}

.language:hover + .reveal-box-left,
.language:hover + .reveal-box-right {
  mask-size: 300% 300%;
}

.reveal-box-right {
  right: -8px;
  mask-image: radial-gradient(circle at top right, black 0%, black 30%, transparent 31%);
  mask-position: 100% 0%;
}

.language.active {
  color: var(--secondary-highlight-color);
  cursor: default;
}

.language.active + .reveal-box-left,
.language.active + .reveal-box-right {
  pointer-events: none;
  opacity: 0;
}
