<header [class.project-header]="isProjectPage">
  <div class="logo-wrapper">
    <a routerLink="/"
      ><img src="/img/logos/ng_logo.png" alt="Nathalie Giancaspro logo" class="logo"
    /></a>
  </div>

  <app-desktop-nav [isProjectPage]="isProjectPage"></app-desktop-nav>

  <app-mobile-nav
    [isProjectPage]="isProjectPage"
    [currentLang]="currentLang"
    (langChange)="setLang($event)"
    [class.open]="isMenuOpen"
  >
  </app-mobile-nav>

  <app-lang-toggle
    id="desktop-toggle"
    [currentLang]="currentLang"
    (langChange)="setLang($event)"
  ></app-lang-toggle>

  <div class="menu-toggle" (click)="toggleMenu()" [class.open]="isMenuOpen">
    <img src="/img/ui-elements/x.png" alt="" class="close" width="32px" height="32px" />
    <img src="/img/ui-elements/menu.png" alt="" class="hamburger" width="32px" height="32px" />
  </div>
</header>
