header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: calc(100% - 144px);
  max-width: var(--layout-max-width);
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: var(--base-light-color);
}

.logo {
  width: 64px;
}

.logo-wrapper,
.menu-toggle {
  z-index: 999;
}

.menu-toggle {
  display: none;
  position: relative;
}

.menu-toggle img {
  transition:
    opacity 180ms ease,
    transform 180ms ease;
}

.hamburger {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.close {
  position: absolute;
  opacity: 0;
  transform: rotate(-45deg) scale(0.8);
}

.menu-toggle.open .hamburger {
  opacity: 0;
  transform: rotate(45deg) scale(0.8);
}

.menu-toggle.open .close {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

app-desktop-nav {
  width: 70%;
}

app-mobile-nav {
  display: block;
  width: 100%;
  padding: 0;
  z-index: 888;
  position: absolute;
  top: -2000px;
  left: 0;
  transition: top 250ms cubic-bezier(0.55, 0.06, 1, 0.16);
}

button {
  border: none;
  background: transparent;
}

@media (max-width: 900px) and (orientation: portrait) {
  header {
    width: 100%;
    padding-inline: 64px;
  }

  header.project-header {
    background-image: linear-gradient(to bottom, var(--base-dark-color), rgba(0, 0, 0, 0));
  }

  app-desktop-nav {
    display: none;
  }

  #desktop-toggle {
    display: none;
  }

  app-mobile-nav.open {
    top: 0;
    transition: top 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

@media (max-width: 560px) {
  header {
    width: 100%;
    padding-inline: 32px;
  }

  .logo {
    width: 48px;
  }
}
@media (max-width: 325px) {
  header {
    width: 100%;
    padding-inline: 16px;
  }
}
