<ul class="links">
  <li>
    <a
      href="https://www.linkedin.com/in/nathalie-giancaspro"
      rel="noopener noreferrer"
      target="_blank"
      aria-label="open LinkedIn profile"
      ><img src="/img/icons/linkedin.svg" alt="LinkedIn"
    /></a>
  </li>
  <li>
    <a
      href="https://github.com/natgian"
      rel="noopener noreferrer"
      target="_blank"
      aria-label="open GitHub profile"
      ><img src="/img/icons/github.svg" alt="GitHub"
    /></a>
  </li>
  <li>
    <a href="mailto:contact@natgian.dev" aria-label="send an email"
      ><img src="/img/icons/mail.svg" alt="Email"
    /></a>
  </li>
</ul>
