.links {
  list-style: none;
  padding: 0 72px 120px 72px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.links li {
  width: fit-content;
  padding: 4px;

  border: 1px solid var(--base-light-color);
  border-radius: 100px;
  background-color: transparent;
  transition: background-color 125ms ease-in;
}

@media (hover: hover) {
  .links li:hover {
    background-color: var(--secondary-highlight-color);
  }
}

@media (max-width: 900px) {
  .links {
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
    padding: 0;
  }
}

@media (max-height: 600px) {
  .links {
    margin-top: 16px;
  }
}
