.reveal {
  mask-repeat: no-repeat;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.reveal-from-left {
  animation-name: reveal-from-left;
  mask-image: linear-gradient(to right, black 100%, transparent 100%);
}

.reveal-from-right {
  animation-name: reveal-from-right;
  mask-image: linear-gradient(black 100%, transparent 100%);
  mask-size: 0%;
  mask-position: right;
}

.reveal-circle {
  position: absolute;
  top: 36px;
  left: 0;
  width: 300px;
  height: auto;
  pointer-events: none;

  mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
  mask-size: 200% 200%;
  mask-position: 0% 200%;
  mask-repeat: no-repeat;
  transition: mask-position 300ms ease-in;
}

.reveal-circle-active {
  mask-position: 0% 100%;
}

@keyframes reveal-from-left {
  0% {
    mask-size: 0% 100%;
  }
  10% {
    mask-size: 100% 100%;
  }
  20% {
    mask-size: 100% 100%;
  }
  70% {
    mask-size: 100% 100%;
  }
  80% {
    mask-size: 0% 100%;
  }
  100% {
    mask-size: 0% 100%;
  }
}

@keyframes reveal-from-right {
  0% {
    mask-size: 0%;
  }
  5% {
    mask-size: 100%;
  }
  70% {
    mask-size: 100%;
  }
  75% {
    mask-size: 0%;
  }
  100% {
    mask-size: 0%;
  }
}

@keyframes roll-in {
  0% {
    opacity: 0;
    transform: translateX(var(--start-x)) rotate(180deg);
  }
  55% {
    opacity: 1;
    transform: translateX(var(--end-x)) rotate(375deg);
  }
  56% {
    transform: translateX(var(--end-x)) rotate(385deg);
  }
  70% {
    transform: translateX(var(--end-x)) rotate(355deg);
  }
  70% {
    transform: translateX(var(--end-x)) rotate(372deg);
  }
  80% {
    transform: translateX(var(--end-x)) rotate(368deg);
  }
  100% {
    opacity: 1;
    transform: translateX(var(--end-x)) rotate(370deg);
  }
}

@keyframes roll-out {
  0% {
    opacity: 1;
    transform: translateX(var(--end-x)) rotate(360deg);
  }
  100% {
    opacity: 0;
    transform: translateX(var(--start-x)) rotate(180deg);
  }
}

@keyframes fade-in-from-left {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-1000px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

@keyframes fade-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
