@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/bricolage_grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalam';
  src: url('/fonts/kalam/Kalam-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kalam';
  src: url('/fonts/kalam/Kalam-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Kalam';
  src: url('/fonts/kalam/Kalam-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
