nav {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;

  background-image: image-set(
    url('/img/backgrounds/hero_bg.webp'),
    url('/img/backgrounds/hero_bg.png')
  );
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--base-light-color);
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 18px;
  font-weight: 700;
}

nav ul li {
  padding-block: 10px;
}

/* @media (max-width: 780px) and (orientation: landscape) {
  nav {
    gap: 0px;
  }
  nav ul {
    gap: 0;
    font-size: 16px;
  }
} */

@media (max-height: 600px) {
  nav ul {
    gap: 16px;
  }
}
