footer {
  max-width: var(--content-max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: end;
  padding-bottom: 56px;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-brand a {
  width: fit-content;
}

.brand-legal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  font-size: 18px;
  font-weight: 700;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reveal-line {
  position: absolute;
  width: 100px;
  mask-image: linear-gradient(to right, black 100%, transparent 100%);
  mask-size: 0% 100%;
  mask-repeat: no-repeat;
  transition: mask-size 200ms ease;
  pointer-events: none;
}

.legal-nav {
  position: relative;
  padding: 12px 0;
}

.reveal-line {
  top: 8px;
  left: 0;
}

a:hover ~ .reveal-line {
  mask-size: 100% 100%;
}
