footer {
  width: calc(100% - 144px);
  max-width: var(--layout-max-width);
  padding-bottom: 48px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: end;
}

.logo {
  width: 64px;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-brand a {
  width: fit-content;
}

.brand-legal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  font-size: 18px;
  font-weight: 700;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reveal-line {
  width: 100px;
  mask-image: linear-gradient(to right, black 100%, transparent 100%);
  mask-size: 0% 100%;
  mask-repeat: no-repeat;
  transition: mask-size 200ms ease;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

.legal-nav {
  position: relative;
  padding: 12px 0;
  display: flex;
}

a:hover ~ .reveal-line {
  mask-size: 100% 100%;
}

@media (max-width: 905px) {
  footer {
    grid-template-columns: 1fr;
    width: calc(100% - 144px);
  }

  .brand-legal-container {
    gap: 0;
  }

  .footer-brand {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .legal-nav {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .reveal-line {
    position: relative;
  }
}

@media (max-width: 560px) {
  footer {
    grid-template-columns: 1fr;
    width: calc(100% - 64px);
  }
}

@media (max-width: 420px) {
  .brand-legal-container {
    font-size: 14px;
  }

  .logo {
    width: 48px;
  }
}

@media (max-width: 325px) {
  footer {
    width: calc(100% - 32px);
  }
}
