section {
  margin: 0 auto;
  background-image: image-set(
    url('/img/backgrounds/contact_bg.webp'),
    url('/img/backgrounds/contact_bg.png')
  );
  background-position: bottom bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--base-light-color);
  padding-top: 160px;
}

.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 64px;
}

.intro {
  max-width: 460px;
  align-self: start;
  display: grid;
}

.reveal-wavy-arrow {
  margin-top: 16px;
  justify-self: end;
  width: 260px;
  height: 36px;
}

.logo-sticker {
  position: absolute;
  width: 168px;
  height: 168px;
  right: 16px;
  top: 0;
  transform: rotate(10deg);
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .intro {
    align-self: center;
  }

  .reveal-wavy-arrow {
    display: none;
  }

  .logo-sticker {
    width: 120px;
    height: 120px;
  }
}
