section {
  margin: 0 auto;
  background-image: image-set(
    url('/img/backgrounds/contact_bg.webp'),
    url('/img/backgrounds/contact_bg.png')
  );
  background-position: bottom bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--base-light-color);
  padding-top: 64px;
}

.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 64px;
}

.intro {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 16px;
}

.reveal-wavy-arrow {
  margin-top: 16px;
  margin-left: auto;
  width: 260px;
  height: 36px;
}

.logo-sticker {
  position: absolute;
  width: 168px;
  height: 168px;
  right: 32px;
  top: 0;
  transform: rotate(10deg);
  z-index: 2;
}

@media (max-width: 1115px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .intro {
    max-width: 600px;
    align-self: center;
  }

  .reveal-wavy-arrow {
    display: none;
  }

  .logo-sticker {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 780px) {
  .logo-sticker {
    position: absolute;

    top: -60px;
  }
}

@media (max-width: 640px) {
  section {
    padding-top: 200px;
  }

  .logo-sticker {
    right: 16px;
    top: -140px;
  }
}
