section {
  padding-top: 160px;
  margin: 0 auto;
  background-image: image-set(
    url('/img/backgrounds/contact_bg.webp'),
    url('/img/backgrounds/contact_bg.png')
  );
  background-position: bottom bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--base-light-color);
}

.content {
  max-width: var(--content-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.intro {
  max-width: 560px;
  align-self: start;
  display: grid;
}

.reveal-wavy-arrow {
  margin-top: 16px;
  justify-self: end;
  width: 260px;
  height: 36px;
}
