section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px;
  max-width: var(--content-max-width);
  padding: 0 72px;
  margin: 160px auto;
}

.papers-container,
.about-container {
  flex: 1 1 400px;
}

.papers-container {
  display: grid;
  max-width: 560px;
  align-self: start;
  margin-top: 48px;
}

.paper-item {
  display: grid;
  grid-area: 1 / 1;
  align-items: center;
}

.paper-text,
.paper {
  grid-area: 1 / 1;
}

.paper-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--base-light-color);
  font-size: 24px;
  font-weight: 400;
}

.text-one {
  padding-bottom: 24px;
}

.paper-text img {
  width: 40px;
  height: 40px;
}

#paper-yellow {
  z-index: 3;
  transform: rotate(-5deg) translate(-10px, -10px);
}

#paper-blue {
  z-index: 2;
  transform: rotate(0) translate(-10px, clamp(40px, 10vw + 10px, 80px));
}

#paper-orange {
  z-index: 1;
  transform: rotate(5deg) translate(0, clamp(100px, 10vw + 100px, 180px));
}

.about-container {
  display: grid;
  justify-items: end;
}

@media (max-width: 1038px) {
  section {
    flex-direction: column-reverse;
    gap: 0;
    margin: 80px auto;
  }

  .papers-container {
    align-self: center;
    align-items: start;
    margin-top: 0;
    padding-top: 72px;
  }
}

@media (max-width: 560px) {
  section {
    padding: 0 32px;
  }
}

@media (max-width: 480px) {
  section > * {
    flex: 1 1 200px;
  }

  .papers-container {
    padding-top: 40px;
    margin-bottom: 40px;
    max-width: 300px;
  }

  .paper-text {
    font-size: 18px;
  }

  .paper-text img {
    width: 32px;
    height: 32px;
  }

  #paper-blue {
    transform: rotate(0) translate(-10px, 48px);
  }

  #paper-orange {
    transform: rotate(5deg) translate(0, 112px);
  }
}

@media (max-width: 340px) {
  .paper-text {
    font-size: 16px;
  }
}
