header {
  display: flex;
  height: 50%;
  background-image: image-set(
    url('/img/backgrounds/skills_bg.webp'),
    url('/img/backgrounds/skills_bg.png')
  );
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--base-light-color);
}

h1 {
  margin: 200px auto;
  width: 100%;
  max-width: var(--content-max-width);
}

.content {
  width: 100%;
  max-width: var(--content-max-width);
  margin: 40px auto 80px auto;
  font-size: 16px;
  font-weight: 400;
}

section {
  padding-bottom: 24px;
}

h2 {
  color: var(--secondary-highlight-color);
  font-size: 24px;
  font-weight: 700;
}

p {
  max-width: 1000px;
}

a {
  color: var(--secondary-highlight-color);
  font-weight: 600;
}

a:hover {
  color: var(--primary-highlight-color);
}
