header {
  display: flex;
  height: 50vh;
  background-image: image-set(
    url('/img/backgrounds/skills_bg.webp'),
    url('/img/backgrounds/skills_bg.png')
  );
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--base-light-color);
}

.header-title {
  width: var(--content-max-width);
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 0 72px;
}

.content {
  max-width: var(--content-max-width);
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  padding: 72px;
}

section {
  padding-bottom: 24px;
}

h2 {
  color: var(--secondary-highlight-color);
  font-size: 24px;
  font-weight: 700;
}

p {
  max-width: 1000px;
}

a {
  color: var(--secondary-highlight-color);
  font-weight: 600;
}

nav {
  padding-bottom: 32px;
}

a:hover {
  color: var(--primary-highlight-color);
}

@media (hover: hover) {
  .nav-link:hover {
    color: var(--primary-highlight-color);
  }
}

.back-link {
  color: var(--base-dark-color);
  display: flex;
  align-items: center;
  gap: 8px;
}

.back-link img {
  transform: scaleX(-1);
  width: 24px;
  height: 24px;
}

@media (max-width: 740px) {
  header {
    height: 30vh;
  }
}

@media (max-width: 600px) {
  .header-title {
    padding: 0 32px;
  }

  .content {
    padding: 32px;
  }
}
