/*------ */
/* RESET */
/*------ */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
svg {
  max-width: 100%;
  display: block;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/*-------- */
/* GENERAL */
/*-------- */

:root {
  /* colors */
  --base-light-color: #f8f9fa;
  --base-dark-color: #0e161f;
  --primary-highlight-color: #24dd80;
  --secondary-highlight-color: #7e4ae7;
  --tertiary-highlight-color: #f87a55;
  --error-color: #f87a55;
  --disabled-color: rgb(248, 249, 250, 0.4);

  /* layout */
  --content-max-width: 1200px;
}

body {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 100;
  font-size: 16px;
  background-color: var(--base-light-color);
}

.section-intro {
  font-size: 20px;
  font-weight: 500;
}

.section-title {
  font-size: 64px;
  font-weight: 700;
  margin-top: 16px;
}

.section-text {
  font-size: 18px;
  font-weight: 400;
  margin: 32px 0;
}
