section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: clamp(40px, 8vw, 120px);

  grid-auto-rows: 1fr;
}

app-section-intro {
  align-self: center;
}

@media (max-width: 814px) {
  app-section-intro {
    max-height: 300px;
    overflow: hidden;
    align-items: center;
  }

  section {
    grid-auto-rows: auto;
  }
}

@media (max-width: 400px) {
  section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
  }
}
