main {
  height: 100vh;
  width: 100%;
  background-image: image-set(
    url('/img/backgrounds/project_bg.webp'),
    url('/img/backgrounds/project_bg.png')
  );
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 144px 80px 0 80px;
  background-color: var(--base-dark-color);
  color: var(--base-dark-color);
}

.content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}

.project-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

.project-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  font-size: 18px;
  font-weight: 300;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.stack-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.visual-section {
  display: grid;
  gap: 48px;
  align-self: center;
}

.visual-section img {
  width: 100%;
  max-width: 800px;
}

.links-container {
  display: flex;
  justify-content: right;
  gap: 32px;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  padding-block: 16px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-link:hover {
  color: var(--primary-highlight-color);
}

.back-link {
  color: var(--base-dark-color);
}

.back-link img {
  transform: scaleX(-1);
}

.next-link {
  color: var(--base-light-color);
}

nav img {
  width: 24px;
  height: 24px;
}
