main {
  min-height: 100%;
  background-image: image-set(
    url('/img/backgrounds/project_bg.webp'),
    url('/img/backgrounds/project_bg.png')
  );
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 56px 80px 0 80px;
  background-color: var(--base-dark-color);
  color: var(--base-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.content {
  max-width: 1500px;
  margin: 96px auto 0 auto;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}

.project-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

.project-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  font-size: 18px;
  font-weight: 300;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.stack-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.visual-section {
  display: grid;
  gap: 48px;
  align-self: center;
}

.visual-section img {
  width: 100%;
  max-width: 800px;
}

.links-container {
  display: flex;
  justify-content: right;
  gap: 32px;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  margin-block: 16px 48px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-link:hover {
  color: var(--primary-highlight-color);
}

.back-link {
  color: var(--base-dark-color);
}

.back-link img {
  transform: scaleX(-1);
}

.next-link {
  color: var(--base-light-color);
}

nav img {
  width: 24px;
  height: 24px;
}

@media (max-width: 1260px) {
  main {
    background-image: image-set(
      url('/img/backgrounds/project_bg_mobile.webp'),
      url('/img/backgrounds/project_bg_mobile.png')
    );
    background-position: top center;
    background-size: auto;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }

  .project-content {
    max-width: 700px;
  }

  .back-link {
    color: var(--base-light-color);
  }
}

@media (max-width: 900px) {
  main {
    padding: 56px 32px 0 32px;
  }

  .content {
    margin: 32px auto;
  }

  .links-container {
    gap: 16px;
  }

  .visual-section {
    justify-items: center;
  }

  .project-content {
    font-size: 16px;
    text-wrap: balance;
  }

  .project-title {
    font-size: 28px;
    text-wrap: balance;
  }

  h2 {
    font-size: 20px;
  }

  .back-link,
  .next-link {
    font-size: 14px;
  }
}
