.main-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.section-intro-wrapper {
  display: flex;
  gap: 16px;
}

.section-intro-wrapper img {
  width: 100px;
  height: 36px;
}

.references-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 48px;
}

.references-container app-reference-card:nth-child(1) {
  transform: rotate(-3deg);
}

.references-container app-reference-card:nth-child(2) {
  margin-left: -160px;
  transform: rotate(3deg);
}

@media (max-width: 1050px) {
  .references-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
  }

  .references-container app-reference-card:nth-child(2) {
    margin-left: 0;
    margin-top: 20px;
  }

  .references-container app-reference-card:nth-child(2) {
    transform: translateY(-20px) rotate(3deg);
  }

  .references-container app-reference-card:nth-child(1) {
    transform: translateY(20px) rotate(-3deg);
  }
}

@media (max-width: 415px) {
  .references-container app-reference-card:nth-child(1) {
    transform: rotate(-3deg);
  }
  .references-container app-reference-card:nth-child(2) {
    transform: translateY(-10px) rotate(3deg);
  }
}
