section {
  max-width: var(--content-max-width);
  margin: 160px auto;
  /* padding: 0 72px; */
}

.section-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section-intro-wrapper {
  display: flex;
  gap: 16px;
}

.section-intro-wrapper img {
  width: 100px;
  height: 36px;
}

.section-intro {
  font-size: 20px;
  font-weight: 500;
}

.section-title {
  font-size: 64px;
  font-weight: 700;
  margin-top: 16px;
}

.references-container {
  display: grid;
  place-items: center;
  padding-block: 48px;
}

app-reference-card {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  cursor: pointer;
}

.reveal-line {
  mask-image: linear-gradient(black 100%, transparent 100%);
  mask-size: 0%;
  mask-position: right;
  mask-repeat: no-repeat;
  animation: reveal 5s infinite ease-in-out;
}

@keyframes reveal {
  0% {
    mask-size: 0%;
  }
  5% {
    mask-size: 100%;
  }
  70% {
    mask-size: 100%;
  }
  75% {
    mask-size: 0%;
  }
  100% {
    mask-size: 0%;
  }
}
