section {
  max-width: var(--content-max-width);
  margin: 160px auto;
  /* padding: 0 72px; */
}

.section-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section-intro-wrapper {
  display: flex;
  gap: 16px;
}

.section-intro-wrapper img {
  width: 100px;
  height: 36px;
}

.references-container {
  display: grid;
  place-items: center;
  padding-block: 48px;
}

app-reference-card {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  cursor: pointer;
}
