section {
  height: 100vh;
  width: 100%;
  background-image: url('/img/backgrounds/hero_bg.png');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 15rem;

  color: var(--base-light-color);
}
