section {
  height: 100vh;
  width: 100%;
  background-image: image-set(
    url('/img/backgrounds/hero_bg.webp'),
    url('/img/backgrounds/hero_bg.png')
  );
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 15rem;
  color: var(--base-light-color);
}

.hero {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'hello hello'
    'h1 h1'
    'button button';
  gap: 2rem;
}

.hello-group {
  display: flex;
  flex-direction: column;
  cursor: default;
  grid-area: hello;
}

.hello-text {
  width: fit-content;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--base-light-color);
  border-radius: 100px;
  opacity: 1;
  transition: opacity 200ms ease, background-color 200ms ease;
}

.hello-text.enter {
  background-color: var(--secondary-highlight-color);
}

.hand {
  --start-x: 200px;
  --end-x: 250px;
  opacity: 0;
  transform: translateX(var(--start-x)) rotate(0deg);
  will-change: transform, opacity;
}

.hand.enter {
  animation-name: rollIn;
  animation-duration: 700ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.hand.exit {
  animation-name: rollOut;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.hero-title {
  grid-area: h1;
  display: flex;
  flex-direction: column;
}

.title-first-word,
.title-second-word {
  font-size: 128px;
  font-weight: 700;
}

.title-first-word {
  align-self: flex-start; /* links */
}

.title-second-word {
  align-self: flex-end; /* rechts */
}

.letter:hover {
  color: var(--primary-highlight-color);
  cursor: default;
}

.polaroid {
  position: absolute;
  right: 16px;
  width: 205px;
  height: auto;
  rotate: 10deg;
  cursor: default;
}

.portrait {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
  width: 190px;
  height: auto;
  filter: grayscale(1) contrast(110%);
}

.polaroid-text {
  position: absolute;
  top: 200px;
  left: 40px;
  font-family: 'Kalam', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--base-dark-color);
}

.polaroid:hover .portrait {
  filter: grayscale(0) contrast(100%);
}

app-button {
  grid-area: button;
  justify-self: end;
}

.links {
  list-style: none;
  padding: 72px;
  position: absolute;
  bottom: 40px;
}

.links li {
  width: fit-content;
  padding: 4px;
  margin-bottom: 8px;
  border: 1px solid var(--base-light-color);
  border-radius: 100px;
  background-color: transparent;
  transition: background-color 200ms ease-in;
}

.links li:hover {
  background-color: var(--secondary-highlight-color);
}
