section {
  height: 100vh;
  width: 100%;
  background-image: url('/img/backgrounds/hero_bg.png');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 15rem;
  color: var(--base-light-color);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'hello hello'
    'h1 h1'
    'button button';
  margin: 0 auto;
  max-width: 800px;
}

.hello-group {
  display: flex;
  flex-direction: column;
  cursor: default;
  grid-area: hello;
}

.hello-text {
  width: fit-content;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--base-light-color);
  border-radius: 100px;
  opacity: 1;
  transition: opacity 200ms ease, background-color 200ms ease;
}

.hello-text.active {
  background-color: var(--secondary-highlight-color);
}

.hand {
  opacity: 0;
  transform: translateX(200px) rotate(0deg);
}

.hand.active {
  animation-name: rollIn, wave;
  animation-duration: 400ms, 800ms;
  animation-timing-function: linear, ease;
  animation-fill-mode: forwards, forwards;
  animation-delay: 0ms, 400ms;
}

@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(200px) rotate(180deg);
  }
  100% {
    opacity: 1;
    transform: translateX(250px) rotate(360deg);
  }
}

@keyframes wave {
  0% {
    transform: translateX(250px) rotate(360deg);
  }
  20% {
    transform: translateX(250px) rotate(380deg);
  }
  50% {
    transform: translateX(250px) rotate(340deg);
  }
  80% {
    transform: translateX(250px) rotate(360deg);
  }
  100% {
    transform: translateX(250px) rotate(360deg);
  }
}

.hero-title {
  grid-area: h1;
  display: flex;
  flex-direction: column;
}

.title1,
.title2 {
  font-size: 128px;
  font-weight: 700;
}

.title1 {
  align-self: flex-start; /* links */
}

.title2 {
  align-self: flex-end; /* rechts */
}

app-button {
  grid-area: button;
  justify-self: end;
}
