section {
  min-height: 100dvh;
  width: 100%;
  background-image: image-set(
    url('/img/backgrounds/hero_bg.webp'),
    url('/img/backgrounds/hero_bg.png')
  );
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 240px;
  color: var(--base-light-color);
}

.hero {
  position: relative;
  margin: 0 auto;
  padding-inline: 72px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'hello hello'
    'h1 h1'
    'button button';
  gap: 2rem;
}

.hello-group {
  display: flex;
  flex-direction: column;
  cursor: default;
  grid-area: hello;
  max-width: fit-content;
  position: relative;
}

.hello-text {
  width: fit-content;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--base-light-color);
  border-radius: 100px;
  opacity: 1;
  transition:
    opacity 200ms ease,
    background-color 200ms ease;
}

.hello-text.enter {
  background-color: var(--secondary-highlight-color);
}

.hand {
  --start-x: 200px;
  --end-x: 260px;
  opacity: 0;
  transform: translateX(var(--start-x)) rotate(0deg);
  will-change: transform, opacity;
}

.hand.enter {
  animation-name: rollIn;
  animation-duration: 700ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.hand.exit {
  animation-name: rollOut;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.hero-title {
  grid-area: h1;
  display: flex;
  flex-direction: column;
  font-size: clamp(48px, 12vw + 8px, 128px);
  font-weight: 700;
  margin-bottom: 16px;
}

.title-first-word {
  align-self: flex-start;
}

.title-second-word {
  align-self: flex-end;
}

.polaroid {
  position: absolute;
  right: 100px;
  width: 205px;
  height: auto;
  rotate: 8deg;
  cursor: default;
}

.portrait {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
  width: 190px;
  height: auto;
  filter: grayscale(1) contrast(110%);
}

.polaroid-text {
  position: absolute;
  top: 200px;
  left: 40px;
  font-family: 'Kalam', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--base-dark-color);
}

.polaroid:hover .portrait {
  filter: grayscale(0) contrast(100%);
}

app-button {
  grid-area: button;
  justify-self: end;
}

@media (hover: hover) {
  .letter:hover {
    color: var(--primary-highlight-color);
    cursor: default;
  }
}

@media (max-width: 900px) {
  section {
    padding-block: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title-second-word {
    align-self: flex-start;
  }

  .hero {
    grid-template-areas:
      'hello hello'
      'h1 h1'
      'button button'
      'polaroid polaroid';
    max-width: fit-content;
    padding-inline: 32px;
  }

  .polaroid {
    position: relative;
    grid-area: polaroid;
    justify-self: center;
    right: 0;
  }

  app-social-links {
    display: none;
  }
}

@media (max-width: 810px) {
  .polaroid {
    margin-top: 32px;
  }
}

@media (max-width: 400px) {
  section {
    background-image: image-set(
      url('/img/backgrounds/hero_bg_mobile.webp'),
      url('/img/backgrounds/hero_bg_mobile.png')
    );
  }
  .hello-text {
    font-size: 16px;
    padding: 12px 10px;
  }

  .hand {
    --start-x: 150px;
    --end-x: 220px;
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 340px) {
  .hero-title {
    font-size: 48px;
  }

  .hero {
    padding-inline: 16px;
  }
}
